@{
    ViewBag.Title = "Home Page";
}
<br />

<br />

<br />

<div style="width:800px; margin:0 auto;">

    <a href="@Url.Action("Details", "Destination", new { id = 1}, null)" title="Princess Cruise" class="links">
        <img alt="PrincessCruise" src="@Url.Content("~/images/princess_cruises.png")">
    </a>
    <br />

    <br />

    <br />

    <a href="@Url.Action("Details", "Destination", new { id = 2}, null)" title="Cunard Line" class="links">
        <img alt="CunardLine" src="@Url.Content("~/images/cunard_line.jpg")">
    </a>

</div>